# Raw Simulation Data based Interpolation
interpolate on the raw data itself before any intensity calculation!

In [1]:
import pandas as pd
from pathlib import Path
import json

DATA_PATH = Path(r'/home/rraiyan/simulations/tfo_sim/data/dan_iccps_pencil2/dan_iccps_pencil_wave_1_dermis_24.pkl')
CONFIG_PATH = DATA_PATH.with_suffix('.json')

data = pd.read_pickle(DATA_PATH)
with open(CONFIG_PATH) as f:
    config = json.load(f)

data.head()

       X      Y     Z   L1 ppath  L2 ppath  L3 ppath  L4 ppath
0  115.0  105.0  79.0  12.690522       0.0       0.0       0.0
1  115.0  105.0  79.0  15.025683       0.0       0.0       0.0
2  115.0  105.0  79.0  14.833888       0.0       0.0       0.0
3  115.0  105.0  79.0  16.145359       0.0       0.0       0.0
4  115.0  105.0  79.0  14.772152       0.0       0.0       0.0

In [2]:
from tfo_sim.misc import generate_sdd_column
data["SDD"] = generate_sdd_column(data)
data = data.drop(columns=["X", "Y", "Z"])
data.head()

    L1 ppath  L2 ppath  L3 ppath  L4 ppath   SDD
0  12.690522       0.0       0.0       0.0  10.0
1  15.025683       0.0       0.0       0.0  10.0
2  14.833888       0.0       0.0       0.0  10.0
3  16.145359       0.0       0.0       0.0  10.0
4  14.772152       0.0       0.0       0.0  10.0

In [ ]:
## Binning
import numpy as np
from inverse_modelling_tfo.data_pipelines.custom_L4_hist import custom_histogram

unique_sdd = data["SDD"].unique()
unique_sdd.sort()

BIN_COUNT = 10
SDD_COUNT = len(unique_sdd)

hist_table = np.zeros((SDD_COUNT, BIN_COUNT))
bin_center_table = np.zeros((SDD_COUNT, BIN_COUNT))

for i, sdd in enumerate(unique_sdd):
    filtered_data = data[data["SDD"] == sdd]